@{
    // Set the tab title
    ViewData["Title"] = "Edit Form";

}

<!--Link the model for this page-->
@model Person
<!-- Page Title-->
<h2>Reserve your time slot:</h2>

<!-- Display the time slot the user is currently reserving -->


<form method="post">
    <!-- Throw error message if invalid entries made -->
    <div asp-validation-summary="All"></div>

    <!-- Basic form -->
    <div class="form-group">

        <!--Hidden field for the personid-->
        <input type="hidden" asp-for="PersonID" />

        <label>Month:</label>
            <input disabled="disabled" type="text" class="form-control" value="@ViewBag.singleTime.Month" />

            <label>Day:</label>
            <input disabled="disabled" type="text" class="form-control" value="@ViewBag.singleTime.Day" />

            <label>Year:</label>
            <input disabled="disabled" type="text" class="form-control" value="@ViewBag.singleTime.Year" />

            <label>Time:</label>
            <input disabled="disabled" type="text" class="form-control" value="@ViewBag.singleTime.TimeOfDay" />

        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />

        <label asp-for="Size">Group Size (enter as a number)</label>
        <input asp-for="Size" class="form-control" />

        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />

        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control" />


    </div>

    <!-- submission button -->
    <button type="submit" class="btn btn-sm btn-primary" asp-route-id="@ViewBag.singleTime.TimeID">Save Reservation</button>

</form>